#wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    background: #fff;
    min-height: 100vh;
    margin-top: 24px;
    padding: 24px;
    box-sizing: border-box;
    overflow: scroll;

    #tree-document {
        overflow: scroll;

        .d-tree-container {
            list-style: none;
            padding: 0;
          }
          
        .d-tree-node {
            padding: 0.75rem 1.25rem;
            cursor: pointer;
        }
          
        .d-tree-toggler {  
            .active {
                transform: rotate(45deg);
            }
        }
    
        .d-tree-head {
            i {
              margin-right: 12px;
    
            }
        }

        .text-active {
            color: blue
        }
    }

    #wrapper-document-data {
        padding: 0 24px;
        box-sizing: border-box;

        #document-data {
            height: 300px;
            overflow-y: scroll;

            table {
                th {
                    padding: 12px 8px;
                }

                tr {
                    cursor: pointer;
                }
            }
        }

        #preview-file {
            margin-top: 12px;
            border-top: 1px solid lightgrey;
            padding-top: 12px;
        }
    }
}

